/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../src/scss/screen.scss */
body {
  -webkit-text-size-adjust: 100%;
  background: #1C1C1F;
  color: #fefefe;
  padding: 40px 0;
  font-family: Arial, san-serif;
}

/* line 23, ../src/scss/screen.scss */
a {
  color: #FFC;
}

/* line 27, ../src/scss/screen.scss */
header, nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

/* line 35, ../src/scss/screen.scss */
header {
  top: 0;
  z-index: 1000;
  border-bottom: solid 1px black;
  background-color: #17181a;
}
/* line 40, ../src/scss/screen.scss */
header h1 {
  width: 120px;
  height: 25px;
  margin: 7px auto;
  text-indent: -10000px;
  background: url('/img/quakemap_nz.png?1341105456') center no-repeat;
  background-size: 120px 25px;
}

/* line 50, ../src/scss/screen.scss */
nav {
  bottom: 0;
  border-top: solid 1px black;
  background-color: #222222;
}
/* line 54, ../src/scss/screen.scss */
nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}
/* line 58, ../src/scss/screen.scss */
nav ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #aaa;
}
/* line 64, ../src/scss/screen.scss */
nav ul li.selected {
  color: #fff;
  text-shadow: rgba(238, 238, 238, 0.5) 0 0 5px;
  background-color: #17181a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 10, color-stop(0%, rgba(17, 17, 17, 0.5)), color-stop(100%, rgba(17, 17, 17, 0)));
  background-image: -webkit-linear-gradient(top, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0) 10px);
  background-image: -moz-linear-gradient(top, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0) 10px);
  background-image: -o-linear-gradient(top, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0) 10px);
  background-image: linear-gradient(top, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0) 10px);
}
/* line 69, ../src/scss/screen.scss */
nav ul li.selected i {
  background-color: #fff;
}
/* line 73, ../src/scss/screen.scss */
nav ul li i {
  display: inline-block;
  background-color: #aaa;
  width: 12px;
  height: 12px;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0 0;
}
/* line 81, ../src/scss/screen.scss */
nav ul li.list i {
  -webkit-mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wMCwYhI5GsBNcAAABFSURBVEjH7ZIxCgAwCMRi//9YfYFdLJSuldLhAuJxgzgEHuBA1j6723GrsLDa2fX9AKJybH003Q+ELJJFskgWySJZ9AUTyHVt0ZiXtTsAAAAASUVORK5CYII=');
}
/* line 84, ../src/scss/screen.scss */
nav ul li.map i {
  -webkit-mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wMCwYgGU677CQAAAE5SURBVEjHtZW9SkNBEIXP501EsLEIglftVBAbEWzF1sIq4AOkF5E0VnmCYGNpIdj6AKKN+ABamE4bIYVYCYqEYLxjM8Jio3jnbjO77HK+M7N/mf7YgHEgB+qSBqqqAYfAhvf5bX32D8BQ0hXwYGa9UACAmT0CuaQl4ELSqKpSXQNrwHRoiRLAnKSOpBdJt1VksAoYcA40gDrQjgQ0HWBAAQyA55/raiUYTY8mCUkTkvbKusbjqbv+9AzugXVgKrJEu8DQAZdRoovp7QXuHLAZBTDf3A6w5eMjnxsrK76TnJieH81uhOuaxyIBdKMv1X4C6EeJZh7bLjxySB7p/DgpSwGcAPMRwpPAW+LcgJVI5zeJ6w/gNVK8lTwD3xt7EAl4Stwb8A40IgGzwDJwBvSBmSo+k21gIULrC7SFUW39z2QfAAAAAElFTkSuQmCC');
}

/* line 91, ../src/scss/screen.scss */
#list ul li {
  background-color: #17181a;
  border-top: solid 1px #222222;
  border-bottom: solid 1px black;
  min-height: 40px;
  padding: 0 5px;
}
/* line 97, ../src/scss/screen.scss */
#list ul li:nth-child(odd) {
  background-color: #1c1c1f;
}
/* line 100, ../src/scss/screen.scss */
#list ul li .quake-mag {
  float: left;
  font-family: Arial,san-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  margin-right: 10px;
  text-shadow: 0px 0px 3px #222;
}
/* line 109, ../src/scss/screen.scss */
#list ul li .quake-info {
  padding: 5px 0;
  font-family: "Times New Roman", serif;
  color: #fff;
  font-size: 9pt;
  font-style: italic;
}
/* line 115, ../src/scss/screen.scss */
#list ul li .quake-info p {
  line-height: 15px;
}

/* line 122, ../src/scss/screen.scss */
#map {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 0;
  right: 0;
}
