/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/box";
@import "compass/css3/images";
@import "compass/css3/transform";

$darkGrey: #17181A;
$lightGrey: #1c1c1f;
$borderDark: #000;
$borderLight: #222;

body{
  -webkit-text-size-adjust:100%;
  background: #1C1C1F;
  color: #fefefe;
  padding:40px 0;
  font-family: Arial, san-serif;
}

a{
  color: #FFC;
}

header, nav{
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  @include box-shadow(rgba(black,0.5) 0 0 5px);
}

header{
  top:0;
  z-index: 1000;
  border-bottom: solid 1px black;
  background-color: $darkGrey;
  h1{
    width: 120px;
    height: 25px;
    margin: 7px auto;
    text-indent: -10000px;
    background: image-url('quakemap_nz.png') center no-repeat;
    background-size: 120px 25px;
  }
  .beta{
    background:green;
    font-size: 10px;
    text-align: center;
    color: white;
    width:56px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    top: 7px;
    right: -14px;
    @include rotate(45deg);
    @include box-shadow(rgba(black,0.5) 0 0 5px);
  }
}

$icons: sprite-map("icons/*.png");

@mixin scaled-sprite-position($map, $name){
  $xpos: round(nth(sprite-position($map, $name), 1) / 2);
  $ypos: round(nth(sprite-position($map, $name), 2) / 2);
  background-position: $xpos $ypos;
}

nav{
  bottom: 0;
  border-top: solid 1px black;
  background-color: lighten($borderLight, 0.1);
  ul{
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    li{
      @include box-flex(1);
      text-align: center;
      line-height: 40px;
      font-size: 16px;
      color: #aaa;
      &.selected{
        color: #fff;
        text-shadow: rgba(#eee,0.5) 0 0 5px;
        background-color: $darkGrey;
        @include background-image(linear-gradient(top, rgba(#111,0.5), rgba(#111,0) 10px));
        &.list i{
          @include scaled-sprite-position($icons, "list-white");
        }
        &.map i{
          @include scaled-sprite-position($icons, "map-white");
        }
      }
      i{
        display: inline-block;
        width: 12px;
        height: 12px;
        background: sprite-url($icons);
        background-size: 12px 48px;

      }
      &.list i{
        @include scaled-sprite-position($icons, "list-grey");
      }
      &.map i{
        @include scaled-sprite-position($icons, "map-grey");
      }
    }
  }
}
#list ul{
  li{
    background-color: $darkGrey;
    border-top: solid 1px $borderLight;
    border-bottom: solid 1px $borderDark;
    min-height: 40px;
    padding:0 5px;
    &:nth-child(odd){
      background-color: $lightGrey;
    }
    .quake-mag {
      float: left;
      font-family: Arial,san-serif;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
      margin-right: 10px;
      text-shadow: 0px 0px 3px #222;
    }
    .quake-info {
      padding: 5px 0;
      font-family: "Times New Roman", serif;
      color: #fff;
      font-size: 9pt;
      font-style: italic;
      p{
        line-height: 15px;
      }
    }
  }
}

#map{
  position: absolute;
  top: 40px;
  bottom:40px;
  left:0;
  right:0;
}
