<div class='quake-mag' style="color:<%= model.color() %>">
  <%= model.formattedMagnitude() %>
</div>
<div class='quake-info'>
  <p><%= model.formattedTime() %></p>
  <p>Depth: <%= model.formattedDepth() %> km</p>
</div>
